# Ignore the Poetry virtual environment directory
/.venv

# Ignore PyCharm specific files
.idea/

# Ignore Python bytecode files and __pycache__ directories
src/__pycache__/
__pycache__/
*.pyc

# Ignore Poetry's lock file (if you don't want it versioned)
poetry.lock

# Ignore the instance folder
instance/